@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>
        Sala de Reuniões - IBM
    </title>
    <meta name="viewport" content="width=devide-width, initial-scale = 1"> 
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1>IBM                                                                                                            </h1>
    </header>

    <nav>
     

        <ul>
            <li><a href="~/Horarios.cshtml" class="button">Horários Disponíveis</a></li>
            <li><a href="~/Email.cshtml" class="button">Solicitar Reserva</a></li>
            <li><a href="~/Sobre.cshtml" class="button">Sobre</a></li>
           <li><a href="https://www.ibm.com/br-pt/" class="button">IBM</a></li>
             <li><a href="~/layout.cshtml" class="button">Home</a></li>
           <!-- <li><a href="#" class="button">Link 7</a></li>-->
        </ul>
    </nav>

    <main>
       <h2>Sala de Reuniões - IBM</h2> 
        <p>Sala aberta de segunda à sexta, de 09h às 18h. </p>
        <br/>
        <p>Caso queira reservar a sala, consulte a disponibilidade previamente, e clique em solicitar reserva para enviar um e-mail diretamente ao responsável, para efetuar reserva.</p>
        <br/>
        <p>Obrigada!</p>


    </main>

    
    <footer>
        Desafio técnico do processo seletivo estágiario BTP - IBM.
    </footer>
</body>
</html>