@{
    string nome, email, assunto, conteudo;
    string pagina = "";

    if (IsPost)
    {
        nome = Request["text_nome"];
        email = Request["text_email"];
        assunto = Request["text_assunto"];
        conteudo = Request["text_conteudo"];
        if (nome.Length == 0 || email.Length == 0 || assunto.Length == 0 || conteudo.Length == 0)
        {
            pagina = "";
            
        }
        else
        {
          

        }
    }




}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/StyleSheet.css" rel="stylesheet" />
    <title>Reservar Sala</title>
</head>
<body>
    <header>
        <h1>IBM                                                                                                            </h1>
    </header>

    <nav>


        <ul>
            <li><a href="~/layout.cshtml" class="button">Home</a></li>
            <li><a href="#" class="button">Horários Disponíveis</a></li>
            <li><a href="#" class="button">Sobre</a></li>
            <li><a href="#" class="button">IBM</a></li>
            <!--  <li><a href="#" class="button">Link 6</a></li>
             <li><a href="#" class="button">Link 7</a></li>-->
        </ul>
    </nav>
    <main>
    
    <form method="post" action="">
        <label>Nome: </label> 
        <input type="text" name="text_nome" value=""  />
        <br/>
        <label>E-mail:</label>
        <input type="text" name="text_email" value="" />
        <br/>
        <label>Assunto: </label>
        <input type="text" name="text_assunto" value="" />
        <br />
        <label>Conteúdo:</label>
        <input type="text" name="text_conteudo" value=""   />
        <br/>
        <input type="submit" value="Enviar"/>
        <input type="reset" value="Limpar" />
     
    </form>
    </main>
    <footer>
        Desafio técnico do processo seletivo estágiario BTP - IBM.
    </footer>
</body>
</html>
